#shadow-bg
	//sizing
	width: 100%
	height: 100%
	//position
	position: fixed
	top: 0px
	left: 0px
	z-index: 100
	//visual
	background: rgba(0, 0, 0, 0.5)
	display: none
	cursor: pointer

header
	//sizing
	height: 64px
	line-height: 64px
	width: 100%
	//position
	position: fixed
	top: 0px
	left: 0px
	z-index: 50
	//visual
	background: $primary
	+material-shadow(2)
	
	#menu-icon
		//position
		position: absolute
		top: 5px
		left: 20px
		//visual
		color: #fff
		
	#title
		//sizing
		font-size: 20px
		//position
		position: absolute
		left: 64px
		//visual
		color: #fff

#header-nav
	//sizing
	width: 240px
	height: 100%
	//position
	position: fixed
	top: 0px
	left: -100%
	z-index: 150
	//visual
	background: #fff