#shadow-bg
	//sizing
	width: 100%
	height: 100%
	//position
	position: fixed
	top: 0px
	left: 0px
	z-index: 100
	//visual
	background: rgba(0, 0, 0, 0.5)
	display: none
	cursor: pointer

header
	//sizing
	height: 56px
	line-height: 56px
	width: 100%
	//position
	position: fixed
	top: 0px
	left: 0px
	z-index: 50
	//visual
	background: $primary
	+material-shadow(2)
	
	#menu-icon
		//position
		position: absolute
		top: 5px
		left: 14px
		//visual
		color: #fff
		
	#title
		//sizing
		font-size: 18px
		font-weight: 400
		//position
		position: absolute
		left: 56px
		//visual
		color: #fff

#header-nav
	//sizing
	width: 240px
	height: 100%
	//position
	position: fixed
	top: 0px
	left: -100%
	z-index: 150
	//visual
	background: #fff

	ul
		li
			//sizing
			height: 43px
			line-height: 43px
			//position
			padding-left: 22px

			a
				//sizing
				font-size: 13px
				font-weight: 700
				//visual
				color: #212121

			.active
				color: $primary
